{# SIEEquipementBundle/Resources/views/form/apercu_equipement.html.twig #}

<div id="apercu" class="panel panel-default"  >
    <div class="panel-heading"> <!-- panel heading -->

        <h3 class="panel-title">Apercu </h3> <!-- panel title -->
    </div>
    <div class="panel-body"  > <!-- panel body -->

   
    </div>




</div>
