{# SIEEquipementBundle/Resources/views/form/detail_equipement.html.twig #}

<div class="panel panel-default" id="info_acces" >
    <div class="panel-heading"> <!-- panel heading -->

        <h3 class="panel-title">Propriétés </h3> <!-- panel title -->
    </div>
    <div class="panel-body"  > 
        <ul class="nav nav-tabs">
            <li id="menu_details" class="active"><a onClick="fa_css_select_details_acces();" data-togfegle="tab"  >Détails équipements</a></li>
            <li  id="menu_acces"><a data-toggle="tab" onClick="fa_css_select_acces_equipement();"  >Accés</a></li>
            
        </ul>
        <div class="tab-content" >
            <div id="details_equipement" class="tab-pane fade in active">
                <h3></h3>
                <p>
                <table class="table-condensed">
                    <thead></thead>
                    <tbody>
                        <tr><td>Adresse Mac</td><td><input type="text" id="adresse_mac" disabled="true"></td></tr>
                        <tr><td>Version</td><td><input type="text" id="version" disabled="true"></td></tr>
                    </tbody>

                </table>
                <br/>


                </p>
            </div>
            <div id="acces_equipement" class="tab-pane fade">
                <h3>Accés</h3>
                <p>
                    Libellé acces <br/><input type="text" id="lib_acces" disabled="true">
                    Adresse ip <br/><input type="text" id="adresse_ip" disabled="true"> 
                    Login <br/><input type="text" id="login" disabled="true">  
                    Password <br/><input type="text" id="password" disabled="true">  
                    Port <br/><input type="text" id="port" disabled="true"> 
                    Protocol<br/><input type="text" id="protocol" disabled="true">                   
                </p>
            </div>
            
        </div>
    </div>




</div>
