{# SIECentralBundle/Resources/views/index.html.twig #}
{% include "SIECoreBundle:Default:head.html.twig" %} 

<body>
   

     <div class="container">

      <div class="starter-template">
    <table class="table">
        <tr>
            <td>
                {% include "SIECoreBundle:Default:search.html.twig" %}
            </td>
        </tr
        <tr>
            <td>
                {% include "SIECentralBundle:form:result_central.html.twig" %} 
            </td>
            <td>
                {% include "SIEDocumentBundle:Default:result_document.html.twig" %} 
            </td>
            <td>
                {% include "SIEEquipementBundle:Default:result_equipement.html.twig" %} 
            </td>
            <td>
                {% include "SIEAccessBundle:Default:result_access.html.twig" %} 
            </td>
            {#<a id="lienPDF" href="../form/formCentral.php?pdf=1">Referenciel PDF</a>#}
        </tr>
    </table>      
       
    </div>
</body>
</html>
