{# SIE/CentralBundle/Resources/views/form/search.html.twig #}
{% javascripts '@SIECoreBundle/Resources/public/js/front_search.js' %}
{#     <script src="{{ asset_url }}"></script>          #}
{% endjavascripts %}
<div id="bloc_recherche" >
    <b class="titreSection">Recherche</b>
    <br/>  
    <br/> 
    <b id="rubrique">Nom de la central : </b> 
    <br/>
    <div class="ui-widget">
        <input  id="input_lib_central"  />
        {#<input  ng-model="lib_central" id="input_lib_central"     type="text"   >#}
</div>
